<div class="layout-column align-items-center mt-50">
    <section class="layout-row align-items-center justify-content-center">
        <input type="text" class="large" placeholder="5-January-2000" [(ngModel)]="inputDate" name="inputDate" id="app-input" data-test-id="app-input" />
        <button class="" id="submit-button" data-test-id="submit-button" (click)="getData()">Search</button>
    </section>

    <ul class="mt-50 styled slide-up-fade-in" id="stockData" *ngIf="responseData" data-test-id="stock-data">
        <li class="py-10">Open: {{responseData.open}}</li>
        <li class="py-10">Close: {{responseData.close}}</li>
        <li class="py-10">High: {{responseData.high}}</li>
        <li class="py-10">Low: {{responseData.low}}</li>
    </ul>

    <div class="mt-50 slide-up-fade-in" id="no-result" *ngIf="noResultFound" data-test-id="no-result">No Results Found</div>
</div>